<title>Wisata</title>
<table border="1" cellspacing="0" cellpading="0" align="center" width="50%">
    <tr>
        <td>No</td>
        <td>User Name</td>
        <td>Password</td>
    </tr>
    
<?php
    if(isset($data)){
        foreach($data as $row){
            ?> 
            <tr>
            <td><?php echo $row->id ?></td>
            <td><?php echo $row->user ?></td>
            <td><?php echo $row->pass ?></td>
            <?php
        }
    }
    else {
        $this->redirect('login');
    }
?>

    </tr>
</table>
