<div class="col-md-9 column">
	<div class="row clearfix">
	<div class="col-md-12 column">
            <div class="panel panel-default">
            <div class="panel-heading">Form Registrasi</div>
                <div class="panel-body">
                    <strong>*</strong>Wajib diisi<br><br>
                    
                      <?php require 'application/views/signup/index.html';?>
                </div> 
            </div>
        </div>				
        </div>
</div>
</div>			
			     
          
              