 	<div class="row clearfix">
		<div class="col-md-12 column">
                          <div class="row clearfix">
                            <div class="col-md-3 column">
					<div class="list-group">
                                              <a href="#" class="list-group-item active">Menu</a>
                                              <a href="#" class="list-group-item">Login</a>
                                              <a href="#" class="list-group-item">Sign Up</a>
                                              <a href="#" class="list-group-item">Buku Tamu</a>
                                        </div>
				</div>