<div class="row">
    <div class="col-xs-12 col-md-4" >
       <form action="<?php echo URL?>bukutamu/save" method="post" >
       <label for="nama">Nama</label>
       <input type="text"  class="form-control" name="nama" placeholder="Nama"><br>
       <label for="alamat">Alamat</label>
       <textarea class="form-control" placeholder="alamat" name="Alamat"></textarea><br>
       <label for="ttl">Tanggal Lahir</label>
       <input type="text"  class="form-control" name="ttl" placeholder="1990-06-23"><br>
        <label for="Jenis Kelamin">Jenis Kelamin</label>
       <div class="radio">
        <label>
            <input type="radio" name="Jeniskelamin" id="laki" value="L"> Laki - Laki
        </label>
        <label>
            <input  type="radio" name="Jeniskelamin" id="p" value="p"> Perempuan
        </label>
      </div>
       <label for="email">Email</label>
       <input type="text"  class="form-control" name="email" placeholder="Email"><br>
       <label for="username">Username</label>
       <input type="text"  class="form-control" name="username" placeholder="Username"><br>
       <label for="password">Password</label>
       <input type="password"  class="form-control" name="password" placeholder="Password"><br>
       <br>
       <input type="submit" name="Simpan" value="Registrasi">
       </form>

    </div>
    
</div>

