<html>
<table border="1" cellspacing="0" cellpadding="0" align="center" width="30%">
<tr>
<?php
   foreach ($flash_msg as $msg) {
  	# code...
  	echo $msg;
  }
?>	
</tr>
</table>

<br>
<br>
<br>

	<table border="1" cellspacing="0" cellpadding="0" align="center" width="30%">
		<form action="<?php echo URL;?>math/penjumlahan" method="POST" >
			<tr>
				<td width="9%">Bilangan Pertama </td>
				<td width="2%" align="center">:</td>
				<td width="10%"><input type="text"  size="20" required name="bilangan1" value="<?php if(isset($bilangan1)) echo $bilangan1;?>"></td>
			</tr>

			<tr>
				<td width="9%">Bilangan Kedua </td>
				<td width="2%" align="center">:</td>
				<td width="10%"><input type="text"  size="20" required  name="bilangan2" value="<?php if(isset($bilangan1)) echo $bilangan2;?>"></td>
			</tr>


			<tr>
				<td width="9%">Hasil</td>
				<td width="2%" align="center">:</td>
				<td width="10%"><input type="text"  size="20" name="hasil" value="<?php if (!empty($hasil)) echo $hasil;?>"></td>
			</tr>

			<tr>
				<td colspan="3" align="right">
				<input type="submit" name="Hitung" value="Hitung">
				</td>
			</tr>

			
		</form>
		
	</table>
</html>